<h1>フォローしているユーザー</h1>
<div class="row">
    <% @user.following_users.each do |user| %>
        <div class="col-md-3 col-sm-4">
            <%= render 'shared/other_user_info', user: user %>
        </div>
    <% end %>
</div>
