<div id="favorite_form_<%= micropost.id %>" class="form-favorite">
    <% if micropost.favorited?(current_user) %>
        <%= render 'microposts/unfavorite', micropost: micropost %>
    <% else %>
        <%= render 'microposts/favorite', micropost: micropost %>
    <% end %>
</div>